<div class="block {{#if active}}block_active{{/if}}">
  <div class="block__image">
    <img src="{{avatar}}" height="48px" width="48px" alt="Фото"/>
  </div>
  <div class="block__content">
    <div class="block__title">{{ name }}</div>
    <p class="block__text">{{ text }}</p>
  </div>
  <div class="block__info">
    <div class="block__time">{{ time }}</div>
    <div class="block__count">{{ count }}</div>
  </div>
</div>